
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">

    <div id="main">
      <div class="header">
        <h1>About Us</h1>
        <h2>A subtitle for your page goes here</h2>
      </div>
      <div class="content">
        <h2 class="content-subhead">How to use this layout</h2>
        <p>
          To use this layout, you can just copy paste the HTML, along with the CSS in <a href="/css/layouts/side-menu.css" alt="Side Menu CSS">side-menu.css</a>, and the JavaScript in <a href="/js/ui.js">ui.js</a>. The JS file uses vanilla JavaScript to simply toggle an <code>active</code> class that makes the menu responsive.
        </p>
      </div>
    </div>
      <div class="posts">
      <h1 class="content-subhead">About Us</h1>
      <section class="post">
        <header class="post-header">
          <img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar" src="img/common/tilo-avatar.png">
          <h2 class="post-title">Photo Gallery</h2>
          <p class="post-meta">
            By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
          </p>
        </header>
        <div class="post-description">
        <p>
          We are a small software company specializing in software development.
          Photo Gallery is our first Venture to public.
          <br/>
          We are backed up by 100% in Cloud by AWS.
        </p>
        </div>
      </section>
    </div>
    -->
  </div>
  <div class="pure-u-1-5"></div>

