  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <div id="main">
      <div class="header">
        <h2>About Us</h2>
      </div>
      <div class="content">
        <p>
          We are a small software company specializing in software development.
          Photo Gallery is our first Venture to public.
          <br/>
          We are backed up by 100% in Cloud by AWS.
        </p>
      </div>
    </div>
  </div>
  <div class="pure-u-1-5"></div>

  <div class="pure-u-5-5"><!-- empty row --> </div>

  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <div id="main">
      <div class="header">
        <h2>Contact Us</h2>
      </div>
      <div class="content">
        <form class="pure-form pure-form-aligned">
          <fieldset>
            <div class="pure-control-group">
              <label for="name">Your Name</label>
              <input id="name" type="text" placeholder="userName">
              <span class="pure-form-message-inline">This is a required field.</span>
            </div>

            <div class="pure-control-group">
              <label for="email">Email Address</label>
              <input id="email" type="email" placeholder="Email Address">
            </div>

            <div class="pure-control-group">
              <label for="foo">Supercalifragilistic Label</label>
              <textarea id="foo" placeholder="big text agrea"> </textarea>
            </div>

            <div class="pure-controls">
              <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
              </label>

              <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="pure-u-1-5"></div>
